.statusMessage {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  padding: 10px 20px;

  display: flex;
  align-items: center;

  border-radius: 12px;

  .message {
    margin-right: 10px;
  }
}
.fullfiled {
  background-color: rgba(0, 255, 0, 0.3);
}
.error {
  background-color: rgba(255, 0, 0, 0.3);
}
