.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s ease;

  background-color: var(--regular-color);
  &::-webkit-input-placeholder {
    color: var(--placeholder-color);
  }
  &:focus {
    outline: none;
    border-color: var(--active-color);
    box-shadow: 0 0 0 3px rgba(var(--active-rgb), 0.3);
  }

  &[type='date'] {
    max-width: 300px;

    &::-webkit-calendar-picker-indicator {
      filter: var(--main-icon-color-filter);
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.5);
        cursor: pointer;
      }
    }
    &::-webkit-datetime-edit-text {
      color: var(--active-color);
    }
  }

  &[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;

    cursor: pointer;

    padding: 0.75rem;

    &:checked {
      background-color: var(--active-color);
    }
  }
  &[type='file'] {
    &::file-selector-button {
      padding: 0.05rem 1rem;
      border: 1px solid #444;
      border-radius: 0.2em;

      color: var(--main-icon-color);
      background-color: var(--regular-color);

      &:hover {
        border: 1px solid var(--active-color);
        box-shadow: 0 0 0 3px rgba(var(--active-rgb), 0.3);

        cursor: pointer;
      }
    }
  }
}
