.processingContainer {
  display: inline-block;
  position: relative;

  .processing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    backdrop-filter: blur(2px);

    border-radius: 50%;
  }
}
