@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //--very-main-background-color: red;
  //--very-main-text-color: #ffffff;
}

* {
  //color: var(--very-main-text-color);
  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  //background-color: var(--very-main-background-color);
  //color: var(--very-main-text-color);
}
