.table {
  width: 100%;
  table-layout: auto;

  border-radius: 12px;
  overflow: hidden;
  border: 1px var(--regular-text-color) solid;

  td,
  tr,
  th {
    border: 1px var(--regular-text-color) solid;
    padding: 10px;
  }
}
