.table {
  width: 100%;
  table-layout: auto;

  td,
  tr,
  th {
    border: 1px #fff solid;
    padding: 10px;
    // width: 25%;
  }
  th:not(.minWidth),
  tr:not(.minWidth),
  td:not(.minWidth) {
    width: 100%;
  }
}
